
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body > .container {
    margin-top: 60px;
}

body > .jumbotron + .container {
    margin-top: auto;
}

.navbar-login {
    a {
        margin: 14px 0px 0px;
        display: inline-block;
        
        &.btn.btn-danger {
            margin: 0px;
        }
    }
}